html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #060d18;
  color: #fff;
  overflow-x: hidden;
  // padding-top: 188px;
}
#main {
  // padding-top: 50px;

  margin-bottom: 50px;
}
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @media #{$sm} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-narrow {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @media #{$sm} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#go-to-top {
  position: fixed;
  z-index: 22;
  right: 20px;
  bottom: 20px;
  transform: translate(0, 100px);
  background-color: #fff;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  svg {
    path {
      fill: $main;
    }
  }
}

#go-to-top.active {
  transform: translate(0, 0px);
}

.rank-math-breadcrumb {
  a {
    color: $main;
  }
}

.go-pagination {
  width: 100%;
  text-align: center;
}

.personel .personel__item .personel__item__wraper .right {
  padding: 10px 20px;
  width: calc(100% - 100px);
}

.wpcf7-spinner {
  position: absolute;
  top: 8px;
  right: -16px;
}

.btn-f {
  position: relative;
}
.wpcf7 form .wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #00a0d2;
  border-radius: 10px;
  margin: 0 0 20px 0;
  padding: 20px;
  width: 100%;
}

#go-to-top {
  background: none;
}
