body {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 900;
}
p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.4;
  text-align: justify;
}
a {
  color: $main;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

.entry-header {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 50px 0;
  padding: 5px 0;
  @media #{$sm} {
    margin: 30px 0;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: $main;
    width: 4px;
    height: 2px;
    border-radius: 100px;
    transform: translate(-50%, 0);
    left: calc(50% - 25px);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: $main;
    width: 50px;
    height: 2px;
    transform: translate(-50%, 0);
    left: calc(50% + 8px);
  }
  .entry-title,
  h1 {
    font-size: 51px;
    text-transform: uppercase;
    font-weight: 800;
    @media #{$md} {
      font-size: 44px;
    }
    @media #{$sm} {
      font-size: 31px;
    }
  }
}
.go-title {
  position: relative;
  margin-bottom: 20px;
  h1 {
    font-size: 71px;
    line-height: 1;
    padding-bottom: 0px;
    @media #{$md} {
      font-size: 51px;
    }
    @media #{$sm} {
      font-size: 31px;
    }
  }
  p {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
    display: block;
    @media #{$sm} {
      font-size: 18px;
    }
  }
  h2 {
    font-size: 41px;
    padding-bottom: 20px;
    @media #{$md} {
      font-size: 38px;
    }
    @media #{$sm} {
      font-size: 26px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: $main;
    width: 4px;
    height: 2px;
    border-radius: 100px;
    transform: translate(-50%, 0);
    left: calc(50% - 25px);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: $main;
    width: 50px;
    height: 2px;
    transform: translate(-50%, 0);
    left: calc(50% + 8px);
  }
}

.go-title.text-left {
  &:before {
    content: "";

    left: 0;
  }
  &:after {
    left: 38px;
  }
}

.go-title.text-right {
  &:before {
    content: "";
    transform: translate(0, 0);
    left: initial;
    right: 0;
  }
  &:after {
    right: 10px;
    transform: translate(0, 0);
    left: initial;
  }
}

.go-title.text-center {
  &:before {
    content: "";

    transform: translate(-50%, 0);
    left: calc(50% - 25px);
  }
  &:after {
    transform: translate(-50%, 0);
    left: calc(50% + 8px);
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
